<div id="<%= dom_id gamer %>">
<!--  <p>-->
<!--    <strong>First name:</strong>-->
    <%#= gamer.first_name %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Second name:</strong>-->
    <%#= gamer.second_name %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Birth date:</strong>-->
    <%#= gamer.birth_date %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Gender:</strong>-->
    <%#= gamer.gender %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Phone number:</strong>-->
    <%#= gamer.phone_number %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Email:</strong>-->
    <%#= gamer.email %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Instagram:</strong>-->
    <%#= gamer.instagram %>
<!--  </p>-->


<!--  <th scope="row">gamer.</th>-->
  <td><%= gamer.first_name %></td>
  <td><%= gamer.second_name %></td>
  <td><%= gamer.birth_date %></td>
  <td><%= gamer.gender %></td>
  <td><%= gamer.phone_number %></td>
  <td><%= gamer.email %></td>
  <td><%= gamer.instagram %></td>


</div>