<div id="<%= dom_id gamer %>">
  <td><%= gamer.first_name %></td>
  <td><%= gamer.second_name %></td>
  <td><%= gamer.birth_date %></td>
  <td><%= gamer.gender %></td>
  <td><%= gamer.phone_number %></td>
  <td><%= gamer.email %></td>
<!--  <td><%#= gamer.instagram %></td>-->
  <td>
    <%=
      url_instagram = "www.instagram.com/" + gamer.instagram.delete('@') + "/"
      link_to gamer.instagram, "https://#{url_instagram}", :target => '_blank', style: 'text-decoration: none'
    %>
  </td>
</div>